:root {
    --color-blue-950: hsl(213, 96%, 18%);
    --color-purple-600: hsl(243, 100%, 62%);
    --color-blue-300: hsl(228, 100%, 84%);
    --color-blue-200: hsl(206, 94%, 87%);
    --color-red-500: hsl(354, 84%, 57%);

    --color-grey-500: hsl(231, 11%, 63%);
    --color-purple-200: hsl(229, 24%, 87%);
    --color-blue-100: hsl(218, 100%, 97%);
    --color-blue-50: hsl(231, 100%, 99%);
    --color-white: hsl(0, 100%, 100%);

    --font-family-ubuntu: "Ubuntu", sans-serif;
    --font-size-body: 16px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-ubuntu);
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue-100);
}
img {
    width: 100%;
    height: 100%;
}
.container {
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    display: flex;
}
.left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    .imgCon {
        width: 97%;
        height: 100%;
        border-radius: 12px;
        margin-left: 12px;
    }
}
.right {
    width: 70%;
    padding-inline: 80px;
    padding-top: 24px;
}
.tab1,
.tab2,
.tab3,
.tab4 {
    height: 95%;
    position: relative;
}
.tabTitle {
    color: var(--color-blue-950);
    font-size: 29px;
}
.tabSmall {
    color: var(--color-grey-500);
    margin-block: 5px;
    font-weight: var(--font-weight-medium);
    font-size: 14px;
}
form {
    overflow-y: scroll;
    height: 82%;
    margin-top: 7px;
    width: 100%;
    padding-right: 21px;
}
.inputField {
    display: flex;
    flex-direction: column;
    margin-block: 10px;
}
label {
    color: var(--color-blue-950);
    font-size: 13px;
    font-weight: var(--font-weight-medium);
    margin-block: 5px;
    cursor: pointer;
}
textarea.desc {
    height: 100px;
    padding: 8px;
    border: 1px solid var(--color-purple-200);
    border-radius: 10px;
    padding-inline: 15px;
    font-weight: var(--font-weight-medium);
    color: var(--color-blue-950);
    outline: none;
    resize: none;
}
.inputElem,
select {
    height: 40px;
    border: 1px solid var(--color-purple-200);
    border-radius: 10px;
    padding-inline: 15px;
    font-weight: var(--font-weight-medium);
    color: var(--color-blue-950);
    outline: none;
    &:focus {
        border: 1px solid var(--color-purple-600);
    }
}
.nextBtn {
    position: absolute;
    bottom: -6px;
    right: 0;
    background-color: var(--color-purple-600);
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 7px;
    border: none;
    &:hover {
        background-color: var(--color-blue-950);
        cursor: pointer;
    }
}
.backBtn {
    position: absolute;
    left: 18px;
    bottom: 3px;
    color: #473dff;
    background: unset;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid;
    border-radius: unset;
    width: fit-content;
    padding: 0;
    height: 20px;
    border: none;
    cursor: pointer;
}
.dipBtn,
.voirBtn {
    background-color: rgb(255 175 126);
    color: white;
    height: 35px;
    padding-inline: 12px;
    font-size: 11px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-weight: var(--font-weight-medium);
    &:hover {
        background-color: rgb(235 157 109);
    }
}
.voirBtn {
    margin-left: 5px;
    background-color: rgb(249 129 142);
    &:hover {
        background-color: rgb(212, 93, 105);
    }
}
.radionField {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-inline: 10px;
}
.selectedDiplomeCon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000038;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.diplomeDiv {
    background: white;
    width: 550px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 12px;
    padding-bottom: 21px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: auto;
}
.diplomeContent {
    background: #e2ffe2;
    border: 2px solid #12cf12;
    width: 90%;
    padding-block: 10px;
    border-radius: 5px;
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-weight: var(--font-weight-medium);
    padding-left: 10px;
    color: #535353;
    position: relative;
}
.obj ,.objj{
    font-weight: bold;
    color: var(--color-blue-950);
}
.objj {
    white-space: normal;
    width: 77%;
    word-wrap: break-word;
}
.del {
    display: none;
    position: absolute;
    top: 2px;
    right: 6px;
    color: red;
    cursor: pointer;
    margin: 5px;
}
.diplomeContent:hover .del {
    display: block;
}
