@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 91vh;
  position: relative;
  background-color: #1a1a1a;
}
header {
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
  position: fixed;
  width: -webkit-fill-available;
  height: 50px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  padding-inline: 59px;
  background-color: #35353599;
  display: none;
}
button.btn {
  padding: 15px 28px ;
  border-radius: 8px;
  border: none;
  background: #845695;
  cursor: pointer;
  transition: .2s;
  font-size: 14px;
}
.btn:hover{
  scale: 1.1;
}
.container {
  width: 800px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
  position: relative;
}
div#bigFrame {
  width: 100%;
  height: 350px;
  background: #fdfdfd;
  display: none;
  cursor: pointer;
}
div#smallFrames {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  min-height: 130px;
  background: #363739;
}
.prersonAvatar {
  background: #000000d1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(camera-off.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
}
.video-player {
  width: 100%;
  height: 100%;
  border-radius: 0;
  overflow: hidden;
}
#smallFrames .prersonAvatar .video-player {
  border-radius: 50%;
}

#bigFrame .prersonAvatar {
  height: 100% !important;
  width: 100% !important;
  border-radius: 0;
  background-size: 80px;
}

#bigframe video {
  border-radius: 0;
}

.buutonsContainer {
  padding-inline: 8px;
  height: 66px;
  position: fixed;
  bottom: 30px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.icon-container {
  width: 55px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
i {
  font-size: 20px;
  color: #ffffff8f;
  cursor: pointer;
}
i.fa-solid.fa-arrow-right-from-bracket {
  color: red;
}

/* .disable-bar {
  position: fixed;
  z-index: 2;
  background: white;
  width: 42px;
  height: 8px;
  border-radius: 61px;
  transition: 1s;
  transform: rotate(319deg);
  bottom: 59px;
  left: 427px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bar {
  background: #000000b8;
  width: 100%;
  height: 4px;
  border-radius: 61px;
  transition: 1s;
} */

.active {
  i {
    color: green;
  }
}
.preactive {
  color: green;
}

.expand {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 167px;
  right: 8px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
i.fa-solid.fa-expand {
  color: white;
  font-size: 25px;
}
i.fa-solid.fa-expand:hover{
  scale: 1.1;
  transition: .2s;
}