@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --GreenBold: hsl(183, 100%, 15%);
    --GreyBold: hsl(186, 14%, 43%);
    --GreyMeduim: hsl(184, 14%, 56%);
    --Grey: hsl(185, 41%, 84%);
    --GreyLight: hsl(189, 47%, 97%);
    --White: hsl(0, 100%, 100%);
    --primary: hsl(172, 67%, 45%)
}

*{
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Grey);
}
img{
    margin-bottom: 30px;
}

.container{
    width: 800px;
    height: 400px;
    background-color: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 25px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, 
                rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, 
                rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, 
                rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, 
                rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, 
                rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, 
                rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}
.left{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.right{
    width: 48%;
    height: 100%;
    background-color: var(--GreenBold);
    border-radius: 10px;
    padding: 30px;
}

.billParagraph{
    margin-block: 5px;
    color: var(--GreyMeduim);
}
.tip{
    margin-block: 15px;
}
.divInput{
    position: relative;
}
div.dollar {
    position: absolute;
    top: 50%;
    left: 21px;
    transform: translateY(-50%);
    font-size: 19px;
    font-weight: bold;
    color: var(--GreyMeduim);
}
input[type="number"] {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    height: 50px;
    border-radius: 11px;
    background: var(--GreyLight);
    direction: rtl;
    padding-inline: 10px;
    color: var(--GreenBold);
    font-size: 21px;
    font-weight: bold;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input:focus{
    outline: 2px solid var(--primary);
}
.selectGrid {
    display: flex;
    justify-items: start;
    gap: 7px;
    flex-wrap: wrap;
}
button.select,.custom {
    background: var(--GreenBold);
    width: 32%;
    height: 43px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border: none;
}
.select:hover{
    background-color: var(--primary) !important;
    color: var(--GreenBold) !important;
}
.active{
    background-color: #26c0ab91 !important;
    color: white !important;
}
.custom{
    background-color: var(--GreyLight);
    color: var(--GreenBold);
    text-align: center;
    border: none;
}
.result {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}
.valeurDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    color: var(--primary);
}
button#reset {
    width: 100%;
    height: 43px;
    border-radius: 5px;
    border: none;
    background: var(--primary);
    color: var(--GreenBold);
    cursor: pointer;
}
.seperatuer{
    height: 123px;
}

@media (max-width:480px) {
    body{
        height: unset;
    }
    .container{
        flex-direction: column;
        width: unset;
        height: unset;
        gap: 15px;
    }
    img{
        margin-top: 30px;
    }
   .left,.right{
        width: 100%;
        height: 50%;
        gap: 10px;
    }
    .seperatuer{
        height: 0;
    }
    button.select, .custom {
        width: 48%;
    }
}